body{
    margin:0;
    padding:0;
    background: url("hacking.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.Loginbox{
    width: 420px;
    height: 420px;
    background:black;
    color:red;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.q1
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:-50px;
    left:calc(50% - 50px); 
}
h1{
    margin:0; 
    padding: 0 0 20px;
    text-align: center;
    font-size: 26px;
}
.Loginbox p{
    margin:0;
    padding:0;
    font-width:bold;
}
.Loginbox input{
    width:100%;
    margin-bottom:20px;
}
.Loginbox input[type="text"],input[type="password"]
{
    border: none;
    border-bottom: 1px solid blue;
    background: transparent;
    outline:none;
    height:40px;
    color:white;
    font-size: 16px;
}
.Loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background:red;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}
.Loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: yellow;
    color:black;
}
.Loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}
.Loginbox a:hover
{
    color: yellow;
}